@charset "utf-8";
@import "normalize";

@import "bourbon";
@import "neat";

$page-color: #eeeee0;
$second-color: #af0000;

@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
$mobile: new-breakpoint(max-width 500px 4);

body {
	font-family: 'Old Standard TT', serif;
	background-color: $page-color;
	text-align: justify;

}
h1 {
	font-size: modular-scale(7);
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	border-bottom: 8px solid black;

	@include media( $mobile ) {
		font-size: modular-scale(4);
	}
}

h2 {
  text-transform: uppercase;
  font-size: modular-scale(2);
  text-align: center;
}

a {
  color: #000;
}

a:active, a:visited {
  color: #222;
}


p {
  margin-top: modular-scale(1);
}

section {
	@include outer-container;
	aside {
		@include span-columns(4);
	}
	article {
		@include span-columns(4);
	}
	aside.right {
	}


	@include media( $mobile ) {
		aside {
			@include span-columns(4);
		}
		article {
			@include span-columns(4);
		}

    margin-left: 1em;
    margin-right: 1em;
	}
}

article canvas {
	width: 100%;
	margin-left: auto; margin-right: auto;
}

article figure {
	margin-top: modular-scale(1);
}

figure img {
	width: 100%;
}

figcaption {
	font-weight: bold;
	font-size: 75%;
	text-transform: uppercase;
}

.footnote {
	text-decoration: underline dotted;
 }

.button {
	text-decoration: none;
	display: inline-block;
	padding: 1em;

	border: 1px solid $second-color;
	@include border-top-radius(10px);
	@include border-bottom-radius(10px);

	background: repeating-linear-gradient(
	  -45deg,
	  $second-color,
	  $second-color 2px,
	  rgba(0,0,0,0) 2px,
	  rgba(0,0,0,0) 10px
	);
	span {
		display: block;
		background-color: $page-color;
		text-align: center;
		font-size: modular-scale(3);
		border: 1px solid $second-color;
		color: $second-color;
		text-transform: uppercase;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
