---
title: Fuckedometer
---

<h1>Fuckedometer</h1>

<section>
<aside>
  <p>

  Today is election day. To help you digest all the political chaos, there is one number you
  need to know: the probability that by the end of the day, our country's executive
  branch (and subsequently our whole country) will end up completely and
  utterly fucked.

  </p>
  <h2>How it works</h2>
  <p>

  Using <a
    href="http://predictwise.com/politics/2016-president-winner#Link1">PredictWise's
    aggregated presidential winner data</a>, this provides a high-level, <span
    class="footnote" title="Updated every 10 minutes">near-realtime</span>
  summary of the best predictions available. To learn more about prediction
  markets, please see <a
  href="https://www.predictit.org/About/HowItWorks">PredictIt's How It
Works</a> or <a
href="https://en.wikipedia.org/wiki/Prediction_market">Wikipedia's Prediction
Market article</a>.

  </p>
</aside>

<article>
  <figure>
  <canvas id="meter" width="500" height="207" />
  </figure>

   <figure>
<a href="http://store.fuckedometer.com/">
<img src="images/photo_halftone.png" />
</a>
   <figcaption>fig. 1: The Fuckedometer</figcaption>
   </figure>
   <p>See more photos on <a href="https://www.flickr.com/photos/xxv/albums/72157666986641320">the Fuckedometer photo album</a>.</p>
</article>

 <aside class="right">
   <h2>Get your own</h2>


<div style="text-align: center">
 <a class="button" href="http://store.fuckedometer.com/">
 <span>store</span></a>
</div>

 <p>
 The future is here! You can now have your very own Fuckedometer. Please visit
 <a href="http://store.fuckedometer.com/">the Fuckedometer store</a> to get your very own limited-edition, hand-crafted Fuckedometer.
 </p>

 <p>
  Keep it on your mantel to impress your friends, on your nightstand to give
  you reassurance before bed, or by your desk to help prevent compulsive
  website reloads.
 </p>
 <p>
  The Fuckedometer is a hand-made Wifi-connected device that is
  powered via a standard USB port.
 </p>
 <p>
 For more information on how to use your Fuckedometer, please
 see <a href="manual.html">the user manual</a>.
 </p>
  <h2>Open source</h2>
  <p>
  The Fuckedometer is open source. If you want to build your own, that's
  awesome! You can get all the plans and source files over at the <a
  href="https://github.com/xxv/fuckedometer">Fuckedometer github page</a>.
  </p>
</aside>
</section>

