---
title: Fuckedometer User Manual
---


<h1>Fuckedometer Manual</h1>

<section>

    <aside>
    <h2>Overview</h2>
    <p>
    Your <a href="/">Fuckedometer</a> is an open source, hand-made
    wifi-connected device. It displays the current US presidential election
    status on an analog meter, with a needle that moves from "Safe" to "Fucked".
    Please see the <a href="/">main page</a> for details on how the displayed
    value is computed. It refreshes every minute.
    </p>
   <p>
   Your Fuckedometer package comes with:
   <ul>
     <li>Fuckedometer</li>
     <li>2m (6.5ft) USB power cable</li>
     <li>120-240VAC USB power adapter</li>
   </ul>
   </p>
    <p>
    To function properly, you must plug your Fuckedometer in. Using the
    provided USB cable, please plug the device into the provided USB power
    adapter. While it's highly likely that the device will also function using
    any other USB cable or USB power outlet, we make no guarantees that it will
    function properly with other cables or adaptors (but again, it probably will).
    </p>
    <p>
    When you first power the Fuckedometer on, it will do a self-test of the
    meter. The needle will move from "Safe" all the way to "Fucked". If the
    needle does not move when it is plugged in, please see <a
    href="#troubleshooting">Troubleshooting</a>.
    </p>
    </aside>

  <article>
    <h2 id="connect">Connect to wifi</h2>
    <p>
    When the Fuckedometer first powers on, it will attempt to connect to the
    last wifi access point it connected to. If it cannot connect, it will
    flash yellow and enter into Access Point Mode.
    </p>
    <p>
    When the device is in Access Point Mode, you can connect to it and
    configure it via your web browser. To do this, on a laptop or smartphone
    turn on wifi and connect to the "Fuckedometer" wifi access point. Then open a
    web browser and visit the following URL:
    </p>
    <pre>http://192.168.4.1</pre>
    <p>
    This will open a website that will walk you through the process of
    connecting your device to your wifi. Once it is connected, it will remember
    your access point and password so that it will simply reconnect when you
    power it on.
    </p>
    <p>
    Select "Configure Wifi" from the menu. This will then scan for nearby
    Wifi access points and display them in a list. Select the access point you
    would like to connect to. You will be prompted to type in your password.
    The Fuckedometer will remember this password and automatically reconnect
    from now on.
    </p>
    <p>
    If you need to connect to a different wifi access point, but are still
    in range of the previously stored wifi access point, <a
    href="mailto:support@fuckedometer.com">contact our support</a> and we can
    reset your device remotely for you.
    </p>
  </article>

    <aside>
    <h2 id="troubleshooting">Troubleshooting</h2>

    <p>The device will blink in a couple of patterns depending on the current
    mode.</p>

    <dl>
      <dt>Intermittently blinking white</dt>
      <dd>The device can connect to the wifi and is functioning normally.</dd>

      <dt>Flashing yellow</dt>
      <dd>
      Device cannot connect to wifi and is in access point
      mode. Please connect to the "Fuckedometer" access point
      and follow <a href="#connect">the setup instructions</a>.
      </dd>

      <dt>Solid yellow or blinking red (3 fast blinks)</dt>

      <dd>
      The device cannot access the Fuckedometer server. Make sure your device
      can visit fuckedometer.com (If you have parental controls enabled, check
      your filter settings).
      </dd>

      <dt>Enthusiastically flashing red, white, &amp; blue</dt>
      <dd>
      Holy shit, we did it! We are not fucked! Launch those fucking fireworks
      and sing the goddamn national anthem. We're safe for another 4 years.
      </dd>

      <dt>Slow, sad red pulse</dt>
      <dd>
      Well, one of those assholes won. How the fuck did that happen‽ I guess we
      need a new gameplan now. Canada's not <em>that</em> cold, I suppose.
      Fuck.
      </dd>
    </dl>

    <p>
    If your device is not blinking, please ensure that the device is plugged in
    and the wall adapter is receiving power. You can also contact our support
    team at
    <a href="mailto:support@fuckedometer.com">support@fuckedometer.com</a>.
    </p>

    <p>
    This is a hand-made item, but we want to make sure you will be happy with
    it! The Fuckedometer comes with a 1 year warranty on all parts and labor.
    </p>

    </aside>
</section>
